body {
  background-color: #8FBC8F;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

h2{
  margin: 70px 70px 20px 70px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.playlist {
  background-color: #FFFAFA;
  border: 2px solid #2F4F4F;
  width: 300px;
  padding: 25px;
  border-radius: 10px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.playlist img {
  width: 150px;
  margin: 0 50px;
  padding: 5px 25px 5px 25px;
}

.playlist p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
}

a {
  margin-left: 250px;
  margin-top: 115px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  width: 50%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: small;
}